input {
    display: block;
    width: 20rem;
    box-sizing: border-box;
}

input[type='submit'], table {
    margin-top: 1rem;
}

table {
    width: 40rem;
}
.display_none {
    display: none;
}

#createEntryForm{
  margin-bottom: 20px;
}

#createUserForm{
    margin-bottom: 20px;
}